/****** Object:  Table [dbo].[Roles]    Script Date: 16.11.2019 16:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.11.2019 16:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_SecondName] [nvarchar](50) NOT NULL,
	[User_First_Middle_Name] [nvarchar](50) NOT NULL,
	[User_Login] [varchar](50) NOT NULL,
	[User_Password] [varchar](50) NOT NULL,
	[Role_ID] [int] NOT NULL,
 CONSTRAINT [PK_User_ID] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Role_ID], [Role]) VALUES (1, N'Директор')
INSERT [dbo].[Roles] ([Role_ID], [Role]) VALUES (2, N'Мастер')
INSERT [dbo].[Roles] ([Role_ID], [Role]) VALUES (3, N'Заказчик')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [User_SecondName], [User_First_Middle_Name], [User_Login], [User_Password], [Role_ID]) VALUES (1, N'Яковлев ', N'Ефим Ильяович', N'DEsar2018', N'2M2IQH', 3)
INSERT [dbo].[Users] ([User_ID], [User_SecondName], [User_First_Middle_Name], [User_Login], [User_Password], [Role_ID]) VALUES (2, N'Васильева ', N'Маргарита Валерьяновна', N'DEuxd2018', N'*PI3KN', 5)
INSERT [dbo].[Users] ([User_ID], [User_SecondName], [User_First_Middle_Name], [User_Login], [User_Password], [Role_ID]) VALUES (3, N'Петухов ', N'Гордей Серапионович', N'DEepk2018', N'VZ&Ak7', 1)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Roles]    Script Date: 16.11.2019 16:32:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roles] ON [dbo].[Roles]
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Login]    Script Date: 16.11.2019 16:32:40 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [IX_User_Login] UNIQUE NONCLUSTERED 
(
	[User_Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([Role_ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_User_First_Middle_Name] CHECK  ((len([User_First_Middle_Name])>=(5) AND len([User_First_Middle_Name])<=(50)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_User_First_Middle_Name]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_User_Login] CHECK  ((len([User_Login])>=(1) AND len([User_Login])<=(50)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_User_Login]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_User_Password] CHECK  ((len([User_Password])>=(5) AND len([User_Password])<=(20) AND [User_Password] like '%[A-Z]%' AND [User_Password] like '%[a-z]%' AND charindex([User_Login],[User_Password])=(0)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_User_Password]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_User_SecondName] CHECK  ((len([User_SecondName])>=(2) AND len([User_SecondName])<=(50)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_User_SecondName]
GO

