USE [master]
GO
/****** Object:  Database [ws_train]    Script Date: 30.11.2019 18:57:13 ******/
CREATE DATABASE [ws_train]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ws_train', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ws_train.mdf' , SIZE = 8192KB , MAXSIZE = 8388608KB , FILEGROWTH = 2048KB )
 LOG ON 
( NAME = N'ws_train_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ws_train_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ws_train].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ws_train]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30.11.2019 18:57:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.11.2019 18:57:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_SecondName] [nvarchar](50) NULL,
	[User_First_Middle_Name] [nvarchar](50) NULL,
	[User_Login] [varchar](50) NOT NULL,
	[User_Password] [varchar](50) NOT NULL,
	[Role_ID] [int] NOT NULL,
 CONSTRAINT [PK_User_ID] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UsersWithRoles]    Script Date: 30.11.2019 18:57:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[UsersWithRoles]
AS
SELECT
u.[User_ID],
u.[User_SecondName],
u.[User_First_Middle_Name],
u.[User_Login],
u.[User_Password],
r.[Role]
FROM Users as u JOIN Roles as r ON u.Role_ID = r.Role_ID
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 30.11.2019 18:57:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[IngredientID] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[TypeID] [smallint] NOT NULL,
	[Price] [money] NOT NULL,
	[PackID] [smallint] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[Unit] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[IngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackGlos]    Script Date: 30.11.2019 18:57:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackGlos](
	[Pack_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Pack] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PackGlos] PRIMARY KEY CLUSTERED 
(
	[Pack_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeGlos]    Script Date: 30.11.2019 18:57:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeGlos](
	[Type_ID] [smallint] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeGlos] PRIMARY KEY CLUSTERED 
(
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ingredients] ([IngredientID], [Name], [TypeID], [Price], [PackID], [Quantity], [Unit]) VALUES (70001, N'Глазурь желейная БРИЛГЕЛЬ ', 4, 396.0000, 5, 1, N'кг')
INSERT [dbo].[Ingredients] ([IngredientID], [Name], [TypeID], [Price], [PackID], [Quantity], [Unit]) VALUES (70006, N'Глазурь желейная БРИЛГЕЛЬ ', 4, 1620.0000, 5, 6, N'кг')
INSERT [dbo].[Ingredients] ([IngredientID], [Name], [TypeID], [Price], [PackID], [Quantity], [Unit]) VALUES (70022, N'Глазурь желейная ФРИО ', 4, 1512.0000, 5, 7, N'кг')
GO
SET IDENTITY_INSERT [dbo].[PackGlos] ON 

INSERT [dbo].[PackGlos] ([Pack_ID], [Pack]) VALUES (1, N'пакет')
INSERT [dbo].[PackGlos] ([Pack_ID], [Pack]) VALUES (2, N'мешок')
INSERT [dbo].[PackGlos] ([Pack_ID], [Pack]) VALUES (3, N'короб')
SET IDENTITY_INSERT [dbo].[PackGlos] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Role_ID], [Role]) VALUES (1, N'Директор')
INSERT [dbo].[Roles] ([Role_ID], [Role]) VALUES (2, N'Мастер')
INSERT [dbo].[Roles] ([Role_ID], [Role]) VALUES (3, N'Заказчик')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[TypeGlos] ON 

INSERT [dbo].[TypeGlos] ([Type_ID], [Type]) VALUES (1, N'премиксы для выпечки')
INSERT [dbo].[TypeGlos] ([Type_ID], [Type]) VALUES (2, N'сливки')
INSERT [dbo].[TypeGlos] ([Type_ID], [Type]) VALUES (3, N'фруктовое пюре')
SET IDENTITY_INSERT [dbo].[TypeGlos] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [User_SecondName], [User_First_Middle_Name], [User_Login], [User_Password], [Role_ID]) VALUES (1, N'Яковлев ', N'Ефим Ильяович', N'DEsar2018', N'2M2IQH', 3)
INSERT [dbo].[Users] ([User_ID], [User_SecondName], [User_First_Middle_Name], [User_Login], [User_Password], [Role_ID]) VALUES (2, N'Васильева ', N'Маргарита Валерьяновна', N'DEuxd2018', N'*PI3KN', 5)
INSERT [dbo].[Users] ([User_ID], [User_SecondName], [User_First_Middle_Name], [User_Login], [User_Password], [Role_ID]) VALUES (3, N'Петухов ', N'Гордей Серапионович', N'DEepk2018', N'VZ&Ak7', 1)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_Roles]    Script Date: 30.11.2019 18:57:13 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roles] ON [dbo].[Roles]
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Login]    Script Date: 30.11.2019 18:57:13 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [IX_User_Login] UNIQUE NONCLUSTERED 
(
	[User_Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_PackGlos] FOREIGN KEY([PackID])
REFERENCES [dbo].[PackGlos] ([Pack_ID])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_PackGlos]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_TypeGlos] FOREIGN KEY([TypeID])
REFERENCES [dbo].[TypeGlos] ([Type_ID])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_Ingredients_TypeGlos]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Roles] ([Role_ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
/****** Object:  StoredProcedure [dbo].[GetFilterUsers]    Script Date: 30.11.2019 18:57:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetFilterUsers] 
	-- Add the parameters for the stored procedure here
	@columnname sysname,
	@columnmask nvarchar(200)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @sql varchar(MAX)

    -- Insert statements for procedure here
	SELECT @sql = '
	SELECT [User_ID],
	  [User_SecondName],
      [User_First_Middle_Name],
      [User_Login],
      [User_Password],
      [Role]
	FROM Users as u
	JOIN Roles as r ON u.Role_ID = r.Role_ID
	WHERE [' + @columnname + '] LIKE ''' + '%' + @columnmask + '%' + ''

	EXEC (@sql)
END
GO
USE [master]
GO
